<md-toolbar>
  <button
    md-raised-button
    (click)="importTranslations()">Import Translations
  </button>
</md-toolbar>
<div
  *ngIf="!items"
  class="file-drop"
  fileDrop
  [ngClass]="{'file-is-over': fileIsOver}"
  (fileOver)="fileOver($event)"
  (onFileDrop)="onFileDrop($event)">
  <div id="drop-label">Drop translations here</div>
</div>
<md-list *ngIf="items">
  <md-tab-group>
    <md-tab label="New">
      <md-list>
        <md-list-item *ngFor="let translation of items | newTranslations">
          <h3 md-line>{{translation.$key}}</h3>
          <p md-line>{{translation.en_US}}</p>
        </md-list-item>
      </md-list>
    </md-tab>
    <md-tab label="Existing">
      <md-list>
        <md-list-item *ngFor="let translation of items | existingTranslations">
          <h3 md-line>{{translation.$key}}</h3>
          <p md-line>{{translation.en_US}}</p>
        </md-list-item>
      </md-list>
    </md-tab>
  </md-tab-group>
</md-list>
